<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SmokeImages" value="Images"/>
    <add key="SnusImages" value="Images"/>
    <add key="TobacImages" value="Images"/>
  </appSettings>
</configuration>